.card {
  @apply flex flex-col py-2 bg-white shadow rounded-md px-4;
}

.card .table {
  margin-bottom: 0;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.card-header {
  @apply text-lg;
}

.card-footer .btn-group {
  white-space: nowrap;
}
