#sidebar-container {
  display: flex;
}

#sidebar-wrapper {
    @apply bg-gray-100 h-full px-5 py-5 w-[14rem] text-gray-800;
}

#sidebar-wrapper .list-group {
  width: 100%;
}

#sidebar-wrapper a {
    @apply bg-gray-50 shadow rounded-md flex no-underline font-bold h-4 p-5 justify-between items-center my-2;
}

#sidebar-wrapper a > i {
    @apply inline-flex text-center h-4 w-4
}

#sidebar-wrapper a.active {
    @apply bg-gray-800 text-white;
}

.nav-min #sidebar-container {
    @apply w-full;
}

.nav-min #sidebar-wrapper {
    @apply ml-0;
}

.nav-min .view-container {
  display: none;
}

.view-container {
  @apply overflow-y-auto w-full;
}
