!!! 5
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'doorkeeper', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_pack_tag 'doorkeeper', 'data-turbolinks-track': 'reload'
  %body
    .p-4
      .mx-auto{:style => "max-width: #{params[:lookbook][:display][:max_width] || "100%"}"}
        =yield